.restaurant-img {
  max-height: 300px;
}

.seating-option {
  max-width: 200px;
}

.details-form {
  display: none;
}

.booking-page .hero-section,
.reservation-form {
  max-width: 500px;
  margin: auto;
}

.btn-disabled {
  background-color: #F4CE14A6!important;
  color: #353535!important;
}

.label-reservation {
  font-size: 12px;
  color: #e9e9ed;
}

.react-datepicker-wrapper input {
  height: 35px;
}

.date-selection {
  height: 35px;
  background-color: #e9e9ed;
}

.date-selection:focus-visible {
  outline: none;
}

.confirmation-image {
  max-height: 180px;
  max-width: auto;
}

.cancel-booking {
  color: var(--secondary-color-white);
  background: none;
  font-size: medium;
  border: 1px solid var(--secondary-color-white);
  padding: 6px 9px;
  margin-left: 95px;
  width: 133px;
}

.next-input input:focus-visible {
    outline: none !important;
}

@media screen and (min-width:768px) {
  .seating-option {
    max-width: 100%;
  }
}