/****** Hero Section ******/

.hero {
  background-color: var(--primary-color-green);
}

.hero-section {
  padding: 0 10px 20px;
}

.hero-title,
.location {
  margin: 0;
  font-family: 'Markazi Text';
}

.hero-title {
  color: var(--primary-color-yellow);
  font-size: 40px;
}

.location {
  color: var(--secondary-color-white);
  font-size: 25px;
  font-weight: 600;
}

.hero-description {
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
}

.description {
  font-size: 16px;
  margin-bottom: 30px;
  width: 60%;
}

.img {
  width: 100px;
  height: 100px;
}

.img-hero {
  border-radius: 16px;
}

.bton {
  font-size: 12px;
  padding: 5px 8px;
  background-color: var(--primary-color-yellow);
  color: var(--secondary-color-black);
  font-family: 'Karla';
  font-weight: 800;
  border: none;
  border-radius: 16px;
}

/****** Highlights Section ******/
.highlights {
  color: var(--secondary-color-black);
  padding: 0 10px;
}

.hide-mobile {
  display: none;
}

.mobile-delivery h2 {
  font-family: 'Karla';
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}

.food-btns {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--secondary-color-white);
}

.delivery-btn {
  background-color: var(--secondary-color-white);
  margin-right: 7px;
  white-space:nowrap;
}

.specials-cards {
  font-family: 'Karla';
}

.specials-cards>div {
  border-bottom: 1px solid var(--secondary-color-white);
}

.food-title {
  font-size: 18;
  font-weight: 700;
}

.specials-description {
  font-weight: 400;
  font-size: 16px;
  max-width: 65ch;
  overflow-y: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}

.img-specials {
  float: inline-end;
  object-fit: cover;
}

.specials-description,
.price-mobile {
  color: #04040475;
}

@media screen and (min-width:768px) {
  /****** Hero Section ******/

  .hero-section {
    width: 90%;
    margin: 0 auto;
  }

  .hero-title {
    font-size: 64px;
  }
  
  .location {
    font-size: 40px;
  }
  
  .description {
    font-size: 18px;
    width: 30%;
  }

  .hero-description {
    align-items: flex-start;
    position: relative;
    margin-top: 0px;
    height: 167px;
  }

  .img-hero {
    width: 300px;
    height: 400px;
    position: absolute;
    top: -60%;
    right: -1%;
  }

  .bton {
    font-size: 18px;
    padding: 14px 40px;
  }

  /****** Hero Section ******/

  .hide-mobile {
    display: block;
  }

  .hide-desktop {
    display: none;
  }

  .foods-specials {
    margin: 115px 0 50px;
    display: flex;
    justify-content: space-between;
  }

  .order-btn {
    margin-right: 35px;
    display: block;
  }

  .specials-cards {
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
  }

  .specials-cards>div {
    display: flex;
    flex-direction: column;
    width: 28%;
    background-color: var(--secondary-color-white);
    border-radius: 16px 16px 0 0;
  }

  .specials-description {
    margin: 15px 10px;
    -webkit-line-clamp: 5;
  }

  .img-specials {
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 145px;
  }

  .card-title-desktop {
    display: flex;
    margin: 5px 10px;
    justify-content: space-between;
  }

  .price-desktop {
    color: red;
  }

  .delivery {
    margin: 25px 10px;
  }
}

@media screen and (min-width:1024px) {
  .hero-section {
    width: 80%;
  }
}