.header {
  margin: 0px 10px;
}

.active {
  color: var(--primary-color-yellow);
}

.navigation a:focus,
.navigation a:hover {
  border-bottom: 1px solid var(--primary-color-yellow);
}

.hamburgerbtn {
  background-image: url(../assets/icons_assets/🦆\ icon\ _hamburger\ menu.svg);
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  border: none;
  background-color: white;
  margin-left: 2px;
}

.closebtn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.basket {
  background-image: url(../assets/icons_assets/Basket.svg);
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  border: none;
  background-color: white;
  margin-right: 5px;
}

.logo {
  background-image: url(../assets/icons_assets/Logo.svg);
  background-size: 100% 100%;
  width: 150px;
  height: 50px;
}

.navbar {
  display: none;
}

.mobile-nav .navigation {
  background-color: var(--secondary-color-white);
  position: fixed;
  inset: 0;
}

.mobile-nav .navigation ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px auto 0;
}

.footer .navigation {
  display: flex;
}

.footer .navigation ul {
  flex-direction: column;
  align-items: start;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation ul,
.footer,
.footer ul {
  list-style-type: none;
  font-family: 'Karla';
  font-weight: 700;
  padding: 0;
  color: var(--secondary-color-black);
}

a {
  text-decoration: none;
  color: var(--secondary-color-black);
}

.footer-logo {
  background-image: url(../assets/icons_assets/footerlogo.png);
  background-size: 100% 100%;
  margin-top: 8px;
  width: 50px;
  height: 100px;
}

.footer-links {
  display: inline;
  margin-left: 0;
}

.footer-links>div {
  float: left;
  margin: 12px;
}

@media screen and (min-width:768px) {
  .screen-width {
    width: 90%;
    margin: 0 auto;
  }

  .hamburgerbtn,
  .basket {
    display: none;
  }

  .logo {
    margin-right: 40px;
    width: 200px;
    height: 70px;
  }

  .navbar {
    display: block;
    flex: 1;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    margin: 0;
  }

  nav {
    width: 100%;
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
    margin-left: 20px;
  }

  .footer-links>div {
    float: left;
    margin: 12px;
  }

  .footer-logo {
    width: 150px;
    height: 300px;
  }
}

@media screen and (min-width:1024px) {
  .screen-width {
    width: 80%;
  }
}