.header {
  margin: 0px 10px;
}

.hamburgerbtn {
  background-image: url(../assets/icons_assets/🦆\ icon\ _hamburger\ menu.svg);
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  border: none;
  background-color: white;
  margin-left: 2px;
}

.basket {
  background-image: url(../assets/icons_assets/Basket.svg);
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  border: none;
  background-color: white;
  margin-right: 5px;
}

.logo {
  background-image: url(../assets/icons_assets/Logo.svg);
  background-size: 100% 100%;
  width: 150px;
  height: 50px;
}

.navbar {
  display: none;
}

.footer .navbar {
  display: flex;
}

.footer .navbar ul {
  flex-direction: column;
  align-items: start;
}

.header,
.navbar ul,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul,
.footer,
.footer ul {
  list-style-type: none;
  font-family: 'Karla';
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  color: var(--secondary-color-black);
}

a {
  text-decoration: none;
  color: var(--secondary-color-black);
}

.footer-logo {
  background-image: url(../assets/icons_assets/footerlogo.png);
  background-size: 100% 100%;
  margin-top: 8px;
  width: 50px;
  height: 100px;
}

.footer a {
  font-size: 12px;
}

.footer-links {
  font-size: 12px;
  display: inline;
  margin-left: 0;
}

.footer-links>div {
  float: left;
  margin: 12px;
}

@media screen and (min-width:768px) {
  .header,
  .footer,
  .highlights {
    width: 90%;
    margin: 0 auto;
  }

  .hamburgerbtn,
  .basket {
    display: none;
  }

  .logo {
    margin-right: 40px;
    width: 200px;
    height: 70px;
  }

  .navbar {
    display: block;
  }

  nav {
    width: 100%;
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
    margin-left: 20px;
    font-size: 16px;
  }

  .footer a {
    font-size: 16px;
  }

  .footer-links>div {
    float: left;
    margin: 12px;
  }

  .footer-logo {
    width: 150px;
    height: 300px;
  }
}

@media screen and (min-width:1024px) {
  .header,
  .footer,
  .highlights {
    width: 80%;
  }
}